<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Mini E-Ticaret</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="">Ana Sayfa</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  routerLink="products">Ürünler</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="basket">Sepet</a>
            </li>
  
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  routerLink="register" *ngIf="!authService.isAuthenticated" >Kayıt ol</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="login" *ngIf="!authService.isAuthenticated"  >Giriş Yap</a>
            </li>
            
            <li class="nav-item">
              <a class="btn btn-outline-success"  type="submit" routerLink="admin"  *ngIf="authService.isAuthenticated"  >Yönetim Paneli</a>
            </li>

            <li class="nav-item">
              <a class="btn btn-outline-danger"  routerLink="admin" (click)="signOut()" *ngIf="authService.isAuthenticated"  >Çıkış Yap</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-md-2"></div>
</div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><router-outlet></router-outlet></div>
    <div class="col-md-2"></div>
  </div>

  <ngx-spinner name="ballRunningDots" size="default" type="ball-running-dots"></ngx-spinner>
  <ngx-spinner name="lineScale" size="default" type="line-scale"></ngx-spinner>
  <ngx-spinner name="squareJellyBox" size="default" type="square-jelly-box"><p style="color: white" > Yükleniyor... </p></ngx-spinner>